@import "https://unpkg.com/open-props/easings.min.css";
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
:root {
    /* spotify colors*/
    --spotify-green: #1ed760;
    --spotify-black: #121212;
    --spotify-white: #ffffff;
    --spotify-grey: #b3b3b3;
    --spotify-darkGrey: #222222;
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Manrope', sans-serif;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

/* global page styles */

html {
    background-color: var(--spotify-black);
    color: var(--spotify-white);
}

/* center everything */

body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Toggle button
*/
.toggle__icon {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.added {
    display: none;
}
/*
    Album
*/
.album{
    max-width: 350px;
    background-color: var(--spotify-darkGrey);
    padding: 20px;
    border-radius: 10px;
}
.album__header {
    display: grid;
    grid-template-columns: auto 1fr 2rem;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    align-items: center;
}

.album__title {
    grid-row: 1;
    grid-column: 1 / span 2;
}

.album__artist {
    grid-row: 2;
    grid-column: 1 / span 2;
    color: var(--spotify-grey);
}
.album__action {
    grid-row: 1 / span 2;
    grid-column: 3;
    display: grid;
    place-items: flex-end;
}
.album__img{
    border-radius: 10px;
    margin-bottom: 20px;
}
/* Adjust the size of the SVG icons */
/*
    Utitlities
*/
.color-grey {
    color: var(--spotify-grey);
}